{% extends 'main.html' %}



{%block content%}
{% if page == 'login' %}

<div>
    <form action="" method="post">
        {%csrf_token%}

        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter your username">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholde="Enter your password">

        <input type="submit" value="Login">
    </form>
</div>
Don't have an account , <a href="{% url 'register' %}">Signup</a>
{%else%}


<form action="" method="post">
    {%csrf_token%}
    <!-- 
    Username:{{UserForm.username}}<br>
    Passowrd: {{UserForm.password1}}<br>
    re Paassword: {{UserForm.password2}}<br> -->

    username: {{UserForm.username}} <br>
    {% if UserForm.errors.username %}
    <div class="text-xs text-red-700">{{ form.errors.description }}</div>
    {% endif %}

    pwd: {{UserForm.password1}} <br>
    {% if UserForm.errors.password1 %}
    <div class="text-xs text-red-700">{{ form.errors.password1 }}</div>
    {% endif %}

    pwd2: {{UserForm.password2}} <br>
    {% if UserForm.errors.password2 %}
    <div class="text-xs text-red-700">{{ form.errors.password2 }}</div>
    {% endif %}


    {{ProfileForm.as_p}}

    <input type="submit" value="Register">
</form>
{%endif%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{%endblock%}
