{% extends 'main.html' %}
{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="room_topic">Enter a Topic</label>
        <input required type="text" value="{{ room.topic.name }}" name="topic" list="topic-list" />
        <datalist id="topic-list">
            {% for topic in topics %}
            <option value="{{ topic.name }}">{{ topic.name }}</option>
            {% endfor %}
        </datalist>
        {% if form.errors.topic %}
        <div class="error">{{ form.errors.topic }}</div>
        {% endif %}
</div>

<div>
    <br>
    <label for="{{ form.name.id_for_label }}">Name</label>
    {{ form.name }}
    {% if form.errors.name %}
    <div class="error">{{ form.errors.name }}</div>
    {% endif %}
</div>
<br>
<div>
    <label for="{{ form.description.id_for_label }}">Description</label>
    {{ form.description }}
    {% if form.errors.description %}
    <div class="error">{{ form.errors.description }}</div>
    {% endif %}
</div>
<br>

<input type="submit" value="submit">
</form>
</div>
{% endblock %}
