{% extends 'main.html' %}


{%block content %}
{% load static %}
{% load tz %}


<script src="{% static 'js/chat.js' %}" defer></script>

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

</style>
<span id="room-id" data-room-id="{{room.id}}" data-user="{{request.user}}"></span>



<h1>{{room.name}}</h1>
<hr>
<div class="room-container">
    <div>
        <h2>Messages</h2>
        <hr>
        <div id="chat-messages">
            {%for message in room_messages %}
            <div>
                <small> <a href="{% url 'profile' message.user %}">@{{message.user}}</a>,
                    <span data-time="{{ message.updated|date:'Y-m-d\TH:i:s\Z' }}" class="time-updated">
                    </span>
                </small>
                <p>
                    {{message.body}}
                </p>
                {%if message.user == request.user %}
                <a href="{%url 'edit-msg' message.id %}">Edit</a>
                <a href="{%url 'delete-msg' message.id %}">Delete</a>

                {%endif%}
                <hr>
            </div>
            {%endfor%}
        </div>
    </div>
    <div>
        <h2>Participants</h2>
        <hr>
        {%for user in room.participants.all %}
        <div>
            {{user.username}}
            <hr>
        </div>
        {%endfor%}
    </div>
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form action="" method="post" id="chat-form">
        {%csrf_token%}
        <input id="chat-input" type="text" name="message" placeholder="Enter Your Message">
    </form>
</div>
{%endif%}




{%endblock%}
